<h2>My Profile</h2>
<p><%= @user.name %></p>
<p><%= @user.title %></p>
<p><%= @user.location %></p>
<%= link_to "Edit Profile...", edit_user_path(@user) %>
<div class="row">
    <div class="col-lg-6">

        <h2>My Rigs <small><%= link_to "New Rig...", new_user_rig_path(@user), {class:"btn btn-default", role:"button"} %></small></h2>
        <% @user.rigs.each do |rig| %>

        <div class="panel panel-default" id="panel-<%= rig.id %>">
            <div class="panel-heading" id="panel-heading-<%= rig.id %>">
                <h3 class="panel-title"><%= rig.name %></h3>
            </div>
            <div class="panel-body" id="panel-body-<%= rig.id %>">
                <p>Venue: <%= rig.venue %></p>
                <p>Use: <%= rig.use %></p>
            </div>
            <span id="panel-span-<%= rig.id %>"></span>
            <div class="panel-footer" id="panel-footer-<%= rig.id %>">
                <%= link_to "Show Details", '#', {"data-id": rig.id, role: "button", class: "btn btn-default details-link"} %> 
                <%= link_to "Edit", user_rig_path(current_user,rig), { role:"button", class: "btn btn-default"} %>
                <%= link_to "Delete", "#", {"data-id": rig.id, role: "button", class: "btn btn-danger delete-link"} %>
            </div>
        </div>
        <% end %>

        <script id="list-template" type="text/x-handlebars-template">
            <ul class="list-group">
            {{#each item}}
                <li class="list-group-item"><a href="/items/{{id}}">{{name}}</a></li>
            {{/each}}
            </ul>
        </script>

        <div id="rigs-index">
            <a href="#" id="show-all-button" role="button" class="btn btn-default show-all-button">Show All</a>
        </div>
        <script id="rigs-template" type="text/x-handlebars-template">
        <h2>All Rigs</h2>
        <ul class="list-group">
        {{#each rig}}
        <li class="list-group-item"><a href="/rigs/{{id}}">{{name}}</a></li>
        {{/each}}
            </ul>
        </script>
    </div>
    <div class="col-lg-6">
        <h2>My Equipment
            <small><%= link_to "New Item...", new_item_path, {class:"btn btn-default", role:"button"} %>
            </small>
        </h2>
        <table class="table table-striped">
            <% @user.my_equipment.each do |item| %>
            <tr><td><%= link_to item.name, item_path(item) %></td></tr>
            <% end %>
        </table>
    </div>
</div>