<h1>My Profile</h1>
<%= @user.name %><br>
<%= @user.title %><br>
<%= @user.location %><br>
<%= link_to "Edit Profile...", edit_user_path(@user) %>

<h2>My Rigs</h2>
<% @user.rigs.each do |rig| %>
<%= link_to rig.name, rig_path(rig) %><br>
<% end %>
<%= link_to "New Rig...", new_user_rig_path(@user) %><br>