<h2>My Profile</h2>
<%= @user.name %><br>
<%= @user.title %><br>
<%= @user.location %><br>
<%= link_to "Edit Profile...", edit_user_path(@user) %>

<h2>My Rigs</h2>
<ul>
<% @user.rigs.each do |rig| %>
<li><%= rig.name %> <%= link_to "(quick view)", '#', {"data-id": rig.id, class: "details-link"} %> <%= link_to "(edit)", user_rig_path(current_user,rig) %></li>
<% end %>
</ul>
<br>
<%= link_to "New Rig...", new_user_rig_path(@user) %><br>


<h2>My Equipment</h2>
<% @user.my_equipment.each do |item| %>
<%= link_to item.name, item_path(item) %><br>
<% end %><br>
<%= link_to "New Item...", new_item_path %><br>
