<div class="row">
    <div class="col-md-3">
        <%= render partial:"user", locals: {user: @user} %> 

    </div>
    <div class="col-lg-6">

    <div id="user-rigs-panels">
        <% @user.rigs.each do |rig| %>

        <div class="panel panel-default" id="panel-<%= rig.id %>">
            <div class="panel-heading" id="panel-heading-<%= rig.id %>">
                <h3 class="panel-title"><%= rig.name %></h3>
            </div>
            <div class="panel-body" id="panel-body-<%= rig.id %>">
                <p>Venue: <%= rig.venue %></p>
                <p>Use: <%= rig.use %></p>
            </div>
            <span id="panel-span-<%= rig.id %>"></span>
            <div class="panel-footer" id="panel-footer-<%= rig.id %>">
                <%= link_to "Show Details", '#', {"data-id": rig.id, role: "button", class: "btn btn-default details-link"} %> 
                <%= link_to "Edit", user_rig_path(current_user,rig), { role:"button", class: "btn btn-default"} %>
                <%= link_to "Delete", "#", {"data-id": rig.id, role: "button", class: "btn btn-danger delete-link"} %>
            </div>
        </div>
        <% end %>
    </div>
        <script id="user-rig-template" type="text/x-handlebars-template">
        <div class="panel panel-default" id="panel-{{id}}">
            <div class="panel-heading" id="panel-heading-{{id}}">
                <h3 class="panel-title">{{name}}</h3>
            </div>
            <div class="panel-body" id="panel-body-{{id}}">
                <p>Venue: {{venue}}</p>
                <p>Use: {{use}}</p>
            </div>
            <span id="panel-span-{{id}}"></span>
            <div class="panel-footer" id="panel-footer-2">
                <a data-id="{{id}}" role="button" class="btn btn-default details-link" href="#">Show Details</a> 
                <a role="button" class="btn btn-default" href="/users/<%= @user.id %>/rigs/{{id}}">Edit</a>
                <a data-id="{{id}}" role="button" class="btn btn-danger delete-link" href="#">Delete</a>
            </div>
        </div>
        </script>
        <div class="panel panel-default">
          <div class="panel-heading" ><h4>New Rig</h4>
               </div>
           <div class="panel-body">
            <form id="new-rig-form" data-userid="<%= @user.id%>">
                  <input name="authenticity_token" value="<%= form_authenticity_token %>" type="hidden">
                  <input name="rig[user_id]" value="<%= @user.id %>" type="hidden">
                <div class="form-group">
                    <input type="text" name="rig[name]" class="form-control" id="RigName" placeholder="Name (e.g. Studio Rig)">
                </div>
                <div class="form-group">
                    <input type="text" name="rig[venue]" class="form-control" id="RigVenue" placeholder="Venue (e.g. Abbey Road Studios)">
                </div>
                <div class="form-group">
                    <input type="text" name="rig[use]" class="form-control" id="RigUse" placeholder="Use (e.g. Recording)">
                </div>
                <button type="submit" class="btn btn-default">Create Rig</button>
            </form>
            </div>
        </div>

        <script id="list-template" type="text/x-handlebars-template">
            <ul class="list-group">
            {{#each item}}
                <li class="list-group-item"><a href="/items/{{id}}">{{name}}</a></li>
            {{/each}}
            </ul>
        </script>

        <div id="rigs-index">

            <a href="#" id="show-all-button" role="button" class="btn btn-default show-all-button">Show All</a>
        </div>
        <script id="rigs-template" type="text/x-handlebars-template">
        <h2>All Rigs</h2>
        <ul class="list-group">
        {{#each rig}}
        <li class="list-group-item"><a href="/rigs/{{id}}">{{name}}</a> - {{username}}</li>
        {{/each}}
            </ul>
        </script>
    </div>
    <div class="col-lg-3">
        <table class="table table-striped">
            <% @user.my_equipment.each do |item| %>
            <tr><td><%= link_to item.name, item_path(item) %></td></tr>
            <% end %>
        </table>
        <%= link_to "New Item...", new_item_path, {class:"btn btn-default", role:"button"} %>
    </div>
</div>