
<%= form_for item do |f| %>

<%= render partial:"layouts/errors", locals: {record: item} %>

<%= f.label "Name*"%><br>
<%= f.text_field :name%><br>
<%= f.label "Manufacturer*" %><br>
<%= f.text_field :manufacturer%><br>
<%= f.label :classification%><br>
<%= f.text_field :classification%><br>
<%= f.label :make%><br>
<%= f.text_field :make%><br>
<%= f.label :model%><br>
<%= f.text_field :model%><br>
<%= f.label :year%><br>
<%= f.number_field :year%><br>
<%= f.label :link%><br>
<%= f.text_field :link%><br>
<%= f.label "Rigs*"%><br>
<div class="input-group">
<%= f.collection_check_boxes :rig_ids, current_user.rigs, :id, :name,{checked: rig_id} %><br>
</div>
<%= f.submit%><br>
<% end %>
<p>* required field</p>