<h1><%= @item.name %> <small><%= link_to "edit", edit_item_path(@item) if policy(@item).edit?%></small></h1>
<table id="item-table" class="table table-striped">
<tr><td>Manufacturer</td><td><%=@item.manufacturer%></td></tr>
<tr><td>Classification</td><td><%=@item.classification%></td></tr>
<tr><td>Make</td><td><%=@item.make%></td></tr>
<tr><td>Model</td><td><%=@item.model%></td></tr>
<tr><td>Year</td><td><%=@item.year%></td></tr>
<tr><td>Link</td><td><%=@item.link%></td></tr>
</table>
<a href="#" class="btn btn-default" role="button" id="prev" data-prev="<%= @item.id - 1 %>">Prev</a>
<a href="#" class="btn btn-default" role="button" id="next" data-next="<%= @item.id + 1 %>">Next</a>




<script id='table-template' type='text/x-handlebars-template'>
<tr><td>Manufacturer</td><td>{{manufacturer}}</td></tr>
<tr><td>Classification</td><td>{{classification}}</td></tr>
<tr><td>Make</td><td>{{make}}</td></tr>
<tr><td>Model</td><td>{{model}}</td></tr>
<tr><td>Year</td><td>{{year}}</td></tr>
<tr><td>Link</td><td>{{link}}</td></tr>
</script>