<h1><%= @item.name %></h1>
<table class="table table-striped">
<tr><td>Manufacturer</td><td><%=@item.manufacturer%></td></tr>
<tr><td>Classification</td><td><%=@item.classification%></td></tr>
<tr><td>Make</td><td><%=@item.make%></td></tr>
<tr><td>Model</td><td><%=@item.model%></td></tr>
<tr><td>Year</td><td><%=@item.year%></td></tr>
<tr><td>Link</td><td><%=@item.link%></td></tr>
</table>