<!DOCTYPE html>
<html>
    <head>
        <title>Pros Use... - Audio Equipment Inventory</title>
        <%= csrf_meta_tags %>
        <!-- Latest compiled and minified CSS -->

        <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
        <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
        <meta name="viewport" content="width=device-width, initial-scale=1">

    </head>

    <body class="with-top-navbar">
        <div  class="growl" id="app-growl"></div>
        <%= render "layouts/navigation" %>
        
            <%= render "layouts/messages" %>

        <div class="container <%= controller_name %> <%= action_name %> p-t-md">
            
                <%= yield %>
            
        </div>

    </body>
</html>
