<!DOCTYPE html>
<html>
    <head>
        <title>Pros Use... - Audio Equipment Inventory</title>
        <%= csrf_meta_tags %>
        <!-- Latest compiled and minified CSS -->

        <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
        <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
        <meta name="viewport" content="width=device-width, initial-scale=1">

    </head>

    <body>
        <div class="container">
            <%= render "layouts/navigation" %>
        </div>
        <div class="container">
            <%= render "layouts/messages" %>
        </div>

        <div class="container">
            <div class="row">
                <div class="col-lg-8 <%= controller_name %> <%= action_name %>">
                    <%= yield %>
                </div>
                <div class="col-lg-4">
                    <!-- Right 1/3rd page-->
                    <%= render "layouts/stats" %>
                </div>

            </div>
        </div>

    </body>
</html>
