<%= simple_form_for(rig, html: { class: 'form-horizontal' }) do |f| %>

<%= render partial:"layouts/errors", locals: {record: rig} %>

<%= f.hidden_field :user_id %>

<%= f.input :name %>
<%= f.input :venue %>
<%= f.input :use, collection: ["Production","Recording","Other"] %><br>

<% if !editing %>
    <h3>Equipment:</h3>
    <p>Select multiple with Ctrl (PC) or Cmd (Mac)</p>
    <%= f.association :items%>
    <br>
    <%= f.fields_for :items do |item_f| %>
    <h3>Or name a new item:</h3>
    <br><%= item_f.input :name, required: false %>
    
    <%= item_f.input :manufacturer, required: false %>
    
    <% end %>
<% end %>
<%= f.button :submit %>
<% end %>
